<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <script src="main.js" defer></script>
    <title>sign up</title>
    <style>
        body {
            margin-top: 20px;
            color: #1a202c;
            text-align: left;
            background-color: #e2e8f0;
        }

        .main-body {
            padding: 15px;
        }

        .card {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0, 0, 0, .125);
            border-radius: .25rem;
        }

        .card-body {
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1rem;
        }

        .gutters-sm {
            margin-right: -8px;
            margin-left: -8px;
        }

        .gutters-sm>.col,
        .gutters-sm>[class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

        .mb-3,
        .my-3 {
            margin-bottom: 1rem !important;
        }

        .bg-gray-300 {
            background-color: #e2e8f0;
        }

        .h-100 {
            height: 100% !important;
        }

        .shadow-none {
            box-shadow: none !important;
        }

        textarea {
            border: none;
            outline: none;
            resize: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="main-body">
            <div class="gutters-sm row">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <form method="post" autocomplete="off" enctype="multipart/form-data">
                                name:
                                <input type="text" name="user" class="m-3" id="user" placeholder="name" required><br>
                                email:
                                <input type="email" name="email" class="m-3" id="email" placeholder="email"
                                    required><br>
                                password :
                                <input type="password" name="pass" class="m-3" id="pass" placeholder="password"
                                    required><br>
                                rule:
                                <select name="rule" id="rule" class="m-3" required>
                                    <option value="seeker">seeker</option>
                                    <option value="employer">employer</option>
                                </select><br>
                                <div id="job" class="align-content-center">
                                    job title:
                                    <input type="text" id="jobI" name="job" class="mx-3" placeholder="job title"
                                        required>
                                </div>
                                <input type="file" name="cvFile" id="file" class="mx-auto my-3">
                                <input type="submit" value="sign up"
                                    class="btn btn-outline-dark btn-success w-25 mt-3 mx-auto">
                                <div class="text-danger mx-auto" id="errors">
                                </div>
                            </form>
                            <div class="mx-auto">
                                have already signed up <a href="/login">log in</a>
                            </div>
                            <div class="mx-auto" id="message"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>